<div id="index">
	<div id="header" class="container-fluid">
		<div class="col-xs-2 vertical-center">
			<img id="logo" src="/assets/logo.png" />
		</div>
		<div class="col-lg-5 col-md-6 col-sm-8 col-xs-8 col-sm-offset-0 col-xs-offset-2 pull-right">

			<div class="col-xs-4">

				<div class="btn-group">
				  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    Hi Erik <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div>

			</div>

			<div class="col-xs-8 contact-info">
				<p><i class="fa fa-globe"></i>English | Sales: 886.320.4788 | Support</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-3 col-xs-12 col-md-offset-1 vertical-center">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <div class="col-sm-12">
			      <input type="search" class="form-control search" id="searchInput" placeholder="Search">
			    </div>
			  </div>
			</form>
		</div>
	</div>

	<div id="left-nav">
		<ul class="nav-list">
			<li class="nav-products products"><a href="#row-products">Products</a></li>
			<li class="nav-solutions solutions"><a href="#row-solutions">Solutions</a></li>
			<li class="nav-services services"><a href="#row-services">Services</a></li>
			<li class="nav-partners partners"><a href="#row-partners">Partners</a></li>
			<li class="nav-customers customers"><a href="#row-customers">Customers</a></li>
			<li class="nav-company company"><a href="#row-company">Company</a></li>
			<li class="nav-careers careers"><a href="#row-careers">Careers</a></li>
			<li class="nav-resources resources"><a href="#row-resources">Resources</a></li>
			<li class="nav-support support"><a href="#row-support">Support</a></li>
			<li class="nav-contact contact"><a href="#row-contact">Contact</a></li>
		</ul>
	</div>

	<div class="container-fluid main-contain">
		<div class="row">
			<div id="feature-area" class="col-sm-12">

			</div>
		</div>
		<div id="row-products" class="row section products">
			<div class="hover-left"></div>
			<div class="hover-right"></div>
			<div class="scrollfix">
				<div class="scroll-child">
					<div class="element">
						<div class="box lead-box">
							<h1>Products</h1>

						</div>
					</div>
					<div class="element">
						<div class="box">

						</div>
					</div>
					<div class="element">
						<div class="box">

						</div>
					</div>
					<div class="element">
						<div class="box">

						</div>
					</div>
					<div class="element">
						<div class="box">

						</div>
					</div>
					<div class="element">
						<div class="box">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="row-solutions" class="row section solutions">
			<div class="hover-left"></div>
			<div class="hover-right"></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Solutions</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>

		<div id="row-services" class="row section services">
			<div class="hover-left"></div>
			<div class="hover-right"></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Services</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>

		<div id="row-partners" class="row section partners">
			<div class="hover-left"></div>
			<div class="hover-right"></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Partners</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>
		<div id="row-customers" class="row section customers">
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Customers</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>
		<div id="row-company" class="row section company">
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Company</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>
		<div id="row-careers" class="row section careers">
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Careers</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>
		<div id="row-resources" class="row section resources">
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Resources</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>
		<div id="row-support" class="row section support">
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Support</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
				<div class="element">
					<div class="box">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>