<div id="index">
	<div id="header" class="container-fluid">
		<div class="col-md-2">
			<img id="logo" src="/assets/logo.png" />
		</div>
		<div class="col-md-4">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <div class="col-sm-10">
			      <input type="search" class="form-control search" id="searchInput" placeholder="Search">
			    </div>
			  </div>
			</form>
		</div>
		<div class="col-md-6">

			<div class="col-sm-4">

				<div class="btn-group">
				  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    Hi Erik <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				  </ul>
				</div>

			</div>

			<div class="col-sm-8 contact-info">
				<p>English | Sales: 886.320.4788 | Support</p>
			</div>
		</div>
	</div>

	<div id="left-nav">
		<ul class="nav-list">
			<li class="nav-products products"><a href="#">Products</a></li>
			<li class="nav-solutions solutions"><a href="#">Solutions</a></li>
			<li class="nav-services services"><a href="#">Services</a></li>
			<li class="nav-partners partners"><a href="#">Partners</a></li>
			<li class="nav-customers customers"><a href="#">Customers</a></li>
			<li class="nav-company company"><a href="#">Company</a></li>
			<li class="nav-careers careers"><a href="#">Careers</a></li>
			<li class="nav-resources resources"><a href="#">Resources</a></li>
			<li class="nav-support support"><a href="#">Support</a></li>
			<li class="nav-contact contact"><a href="#">Contact</a></li>
		</ul>
	</div>

	<div class="container">
		<div class="row">
			<div id="feature-area" class="col-sm-12">

			</div>
		</div>
		<div class="row section products">
			<div class="col-sm-3">
				<div class="box lead-box">
					<h1>Products</h1>

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
		</div>

		<div class="row section solutions">
			<div class="col-sm-3">
				<div class="box lead-box">
					<h1>Solutions</h1>

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
		</div>

		<div class="row section services">
			<div class="col-sm-3">
				<div class="box lead-box">
					<h1>Services</h1>

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
		</div>

		<div class="row section partners">
			<div class="col-sm-3">
				<div class="box lead-box">					
					<h1>Partners</h1>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
			<div class="col-sm-3">
				<div class="box">

				</div>
			</div>
		</div>
	</div>
</div>