<div id="index">
	<div id="header" class="container-fluid">
		<div class="col-xs-2 vertical-center">
			<img id="logo" src="/assets/logo.png" />
		</div>
		<div class="col-lg-5 col-md-6 col-sm-8 col-xs-8 col-sm-offset-0 col-xs-offset-2 pull-right">

			<div class="col-xs-4">

				<div class="btn-group">
				  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <img class="fb-icon" src="/assets/fb_icon.png" />Hi Erik <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Account</a></li>
				    <li><a href="#">Orders</a></li>
				    <li><a href="#">FAQ</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Contact Us</a></li>
				  </ul>
				</div>

			</div>

			<div class="col-xs-8 contact-info">
				<p><i class="fa fa-globe"></i>English&ensp;|&ensp;Sales: 886.320.4788&ensp;|&ensp;Support</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-3 col-xs-12 col-md-offset-1 vertical-center">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <div class="col-sm-12">
			      <input type="search" class="form-control search" id="searchInput" placeholder="Search">
			      <div class="go-btn">GO</div>
			    </div>
			  </div>
			</form>
		</div>
	</div>

	<div id="left-nav">
		<ul class="nav-list">
			<li class="nav-home home"><a href="#index">Home</a></li>
			<li class="nav-products products"><a href="#row-products">Products</a></li>
			<li class="nav-solutions solutions"><a href="#row-solutions">Solutions</a></li>
			<li class="nav-services services"><a href="#row-services">Services</a></li>
			<li class="nav-partners partners"><a href="#row-partners">Partners</a></li>
			<li class="nav-customers customers"><a href="#row-customers">Customers</a></li>
			<li class="nav-company company"><a href="#row-company">Company</a></li>
			<li class="nav-careers careers"><a href="#row-careers">Careers</a></li>
			<li class="nav-resources resources"><a href="#row-resources">Resources</a></li>
			<li class="nav-support support"><a href="#row-support">Support</a></li>
			<li class="nav-contact contact"><a href="#row-contact">Contact</a></li>
		</ul>
	</div>

	<div class="container-fluid main-contain">
		<div class="row feature-row">
			<div id="feature-area" class="col-sm-12">
				<!-- <div class="info-section">
					<h2>Three Time Gartner Magic quadrant leader</h2>
					<p>See for yourself what Gartner has to say about enterprise network firewalls.</p>
					<div class="call"><span>View Report</span></div>
				</div> -->
			</div>
		</div>
		<div id="row-recommended" class="row section recommended">
			<div class="hover-left"><h1>Recommended For You<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="scroll-child">
					<div class="element">
						<div class="box lead-box">
							

						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>VMWare and Palo Alto Join Forces</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Safetly enable mobile devices</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>We like raising the bar. Often.</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/palo_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Three time Gartner Magic Quadrant leader</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Three Time Gartner Magic quadrant leader</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>VMWare and Palo Alto Join Forces</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/palo_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Safetly enable mobile devices</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>We like raising the bar. Often.</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="row-popular" class="row section popular">
			<div class="hover-left"><h1>Popular<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="scroll-child">
					<div class="element">
						<div class="box lead-box">
							

						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>VMWare and Palo Alto Join Forces</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Safetly enable mobile devices</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>We like raising the bar. Often.</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/palo_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Three time Gartner Magic Quadrant leader</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Three Time Gartner Magic quadrant leader</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>VMWare and Palo Alto Join Forces</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/palo_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Safetly enable mobile devices</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>We like raising the bar. Often.</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="row-products" class="row section products">
			<div class="hover-left"><h1>Products<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="scroll-child">
					<div class="element">
						<div class="box lead-box">
							

						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>VMWare and Palo Alto Join Forces</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Safetly enable mobile devices</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>We like raising the bar. Often.</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/palo_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Three time Gartner Magic Quadrant leader</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Three Time Gartner Magic quadrant leader</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>VMWare and Palo Alto Join Forces</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/palo_bg.jpg" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>Safetly enable mobile devices</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/cartoon_bg.png" />
						</div>
					</div>
					<div class="element">
						<div class="box">
							<div class="info-section">
								<h2>We like raising the bar. Often.</h2>
								<p>Learn more about the event by clicking below.</p>
								<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
							</div>
							<img src="/assets/server_bg.jpg" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="row-solutions" class="row section solutions">
			<div class="hover-left"><h1>Solutions<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
			</div>
		</div>

		<div id="row-services" class="row section services">
			<div class="hover-left"><h1>Services<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Services</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span><i class="fa fa-chevron-right"></i></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
			</div>
		</div>

		<div id="row-partners" class="row section partners">
			<div class="hover-left"><h1>Partners<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Partners</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div id="row-customers" class="row section customers">
			<div class="hover-left"><h1>Customers<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Customers</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div id="row-company" class="row section company">
			<div class="hover-left"><h1>Company<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Company</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div id="row-careers" class="row section careers">
			<div class="hover-left"><h1>Careers<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Careers</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div id="row-resources" class="row section resources">
			<div class="hover-left"><h1>Resources<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Resources</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div id="row-support" class="row section support">
			<div class="hover-left"><h1>Support<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Support</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
			</div>
		</div>
		<div id="row-contact" class="row section contact">
			<div class="hover-left"><h1>Contact<br><i class="fa fa-arrow-circle-o-left"></i></h1></div>
			<div class="hover-right"><h1><i class="fa fa-arrow-circle-o-right"></i></h1></div>
			<div class="scrollfix">
				<div class="element">
					<div class="box lead-box">
						<h1>Contact</h1>

					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>VMWare and Palo Alto Join Forces</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Safetly enable mobile devices</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>We like raising the bar. Often.</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/server_bg.jpg" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three time Gartner Magic Quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/cartoon_bg.png" />
					</div>
				</div>
				<div class="element">
					<div class="box">
						<div class="info-section">
							<h2>Three Time Gartner Magic quadrant leader</h2>
							<p>Learn more about the event by clicking below.</p>
							<div class="call"><span>View Report</span></div>
						</div>
						<img src="/assets/palo_bg.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-3">
					<p>&copy;2007-2014 Palo Alto Networks</p>
				</div>
				<div class="col-sm-6">
					<ul class="footer-links">
						<li><a href="#">Research</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Legal</a></li>
						<li><a href="#">Site Index</a></li>
						<li><a href="#">Subscribe</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<p><i class="fa fa-rss"></i>Sales: 866.320.4788</p>
				</div>
			</div>
		</div>
	</div>
</footer>