<div id="index">
	<div id="header" class="container">
		<div class="col-xs-2 vertical-center">
			<img id="logo" src="/assets/logo.png" />
		</div>
		<div class="col-lg-5 col-md-6 col-sm-8 col-xs-8 col-sm-offset-0 col-xs-offset-2 pull-right">

			<div class="col-xs-4">

				<div class="btn-group">
				  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <img class="fb-icon" src="/assets/fb_icon.png" />Hi Erik <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Account</a></li>
				    <li><a href="#">Orders</a></li>
				    <li><a href="#">FAQ</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Contact Us</a></li>
				  </ul>
				</div>

			</div>

			<div class="col-xs-8 contact-info">
				<p><i class="fa fa-globe"></i>English&ensp;&ensp;|&ensp;&ensp;Sales: 886.320.4788&ensp;&ensp;|&ensp;&ensp;Support</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-3 col-xs-12 col-md-offset-1 vertical-center">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <div class="col-sm-12">
			      <input type="search" class="form-control search" id="searchInput" placeholder="Search">
			      <div class="go-btn">GO</div>
			    </div>
			  </div>
			</form>
		</div>
	</div>

	<div class="feature-img container-fluid">
		<div class="box">
			<h1>Security Wherever Business Takes You.</h1>
			<p>From Briefs</p>
			<p>February 25 2015</p>
		</div>
	</div>

	<div class="featured container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="row-title">Featured</h1>
			</div>
		</div>
		<div class="featured-row row">
			<div class="col-md-4">
				<div class="box orange">
					<i class="fa fa-star-o"></i>
					<h1>2015 <span class="white">Cyber Security Canon</span> Awards</h1>
					<div class="row">
						<div class="overlay">
							<p>Of the books every cybersecurity professional should read, determine which one nabs the spot.</p>
							<div class="learn-more">Weigh In Now></div>
						</div>
					</div>
				</div>
				<div class="information">
					<h4>From News</h4>
					<p>February 25 2015</p>
					<div class="icons">
						<span>13<i class="fa fa-star-o"></i></span>
						<span>25<i class="fa fa-eye"></i></span>
					</div>
					<div class="clear"></div>
				</div>
				<div class="login">
					<p>Login to see friend's activity.<i class="fa fa-share-alt"></i></p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box blue">
					<i class="fa fa-star"></i>
					<h1>2015 Cyber Security Canon Awards</h1>
					<div class="row">
						<div class="overlay">
							<p>Of the books every cybersecurity professional should read, determine which one nabs the spot.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box gray">
					<i class="fa fa-star"></i>
					<h1>2015 Cyber Security Canon Awards</h1>
					<div class="row">
						<div class="overlay">
							<p>Of the books every cybersecurity professional should read, determine which one nabs the spot.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>