/* line 5, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
html body h1, html body h2, html body h3, html body h4, html body h5, html body p, html body span {
  font-family: 'Lato', sans-serif;
}

/* line 9, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
body {
  width: 100%;
}
/* line 12, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
body #header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #ddd;
}

/* line 23, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
.clear {
  clear: both;
}

/* line 27, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header #logo {
  width: 150px;
  display: inline;
}

/* line 32, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .vertical-center {
  line-height: 5em;
  position: relative;
}

/* line 37, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .vertical-center .form-horizontal {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

/* line 43, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .vertical-center .form-horizontal .form-group {
  margin: 0;
}

/* line 47, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn-group {
  line-height: 5em;
  height: 5em;
}

/* line 52, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn-group .fb-icon {
  width: 50px;
  margin-right: 10px;
}

/* line 57, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn-group .dropdown-menu {
  top: 80%;
}

/* line 61, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn {
  color: #666;
  background: transparent;
  box-shadow: none;
  line-height: 5em;
  padding: 0 15px;
}

/* line 69, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn:hover {
  color: #aaa;
}

/* line 73, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .form-horizontal .col-sm-12 {
  position: relative;
}

/* line 77, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .form-horizontal .go-btn {
  position: absolute;
  right: 16px;
  top: 2%;
  background: #A2D85E;
  color: #fff;
  height: 96%;
  padding: 10px 10px;
  line-height: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* line 90, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .form-horizontal input {
  border-radius: 0;
}

/* line 94, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .contact-info {
  white-space: nowrap;
  text-align: right;
  line-height: 5em;
}

/* line 100, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .contact-info i {
  padding: 0 5px;
  position: relative;
  top: 2px;
  font-size: 1.5em;
}

/* line 107, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .contact-info p {
  color: #aaa;
  margin: 0;
  font-weight: 300;
  font-size: .85em;
}

/* line 114, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport {
  width: 100%;
  height: 35em;
  margin-top: 5em;
  position: relative;
  overflow: hidden;
}

/* line 122, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .feature {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 35em;
  opacity: 1;
  z-index: 3;
  overflow: hidden;
  -webkit-transition: all .75s ease-in-out;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}

/* line 137, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .feature .background-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .75s ease-in-out;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}

/* line 149, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .feature .description {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: #fff;
  position: absolute;
  left: 40%;
  margin-left: -25%;
  top: 6em;
}

/* line 161, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .active {
  top: 0;
  opacity: 1;
}

/* line 166, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .active-down {
  top: 0;
  opacity: 1;
}

/* line 171, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-1 .background-img {
  background: url("/assets/header_feature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 178, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-2 .background-img {
  background: url("/assets/feature_services.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 185, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-3 .background-img {
  background: url("/assets/feature_recommended.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 192, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-4 .background-img {
  background: url("/assets/feature_products.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 199, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-5 .background-img {
  background: url("/assets/feature_popular.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 206, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-6 .background-img {
  background: url("/assets/feature_careers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 213, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .home-7 .background-img {
  background: url("/assets/feature_partners.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 220, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .box {
  padding: 1em 1em 3em 1em;
  background: rgba(0, 0, 0, 0.5);
  width: 25em;
  margin-top: 5em;
  margin-right: 2em;
  position: relative;
  float: right;
  z-index: 2;
}

/* line 231, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .box h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3.5em;
  margin-top: 0;
  font-weight: 700;
}

/* line 239, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .box p {
  color: #fff;
}

/* line 243, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .box .next {
  background: #006fa2;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: .25em 1.5em;
}

/* line 257, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .box .previous {
  background: #006fa2;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: .25em 1.5em;
}

/* line 272, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .box .learn-more {
  background: #006fa2;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: .25em 1.5em;
}

/* line 286, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .feature.transition {
  top: -100%;
}

/* line 290, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-viewport .feature.transition-down {
  top: 100%;
}

/* line 295, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured {
  padding-top: 3em;
}

/* line 299, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured-row {
  padding-bottom: 5em;
}

/* line 303, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .row-title {
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 1em;
}

/* line 309, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box {
  padding: 1em;
  min-height: 30em;
  position: relative;
}

/* line 315, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box i {
  position: absolute;
  top: .75em;
  right: .75em;
  color: #fff;
  font-size: 1.35em;
  cursor: pointer;
}

/* line 324, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box .fa-star {
  opacity: 0;
}

/* line 328, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box i:hover {
  opacity: 1;
}

/* line 332, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box h1 {
  font-weight: 400;
  width: 70%;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  padding-bottom: 3em;
}

/* line 342, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box h1 .white {
  color: #fff;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

/* line 349, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .box h1 .text-blue {
  color: #006fa2;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

/* line 356, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .orange {
  background: #f7933e;
}

/* line 360, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .blue {
  background: #67d0ee;
}

/* line 364, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .gray {
  background: #e6e2e1;
}

/* line 368, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .green {
  background: #99a700;
}

/* line 372, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .gold {
  background: #f3b927;
}

/* line 376, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8em;
  padding: 1em 1em;
}

/* line 386, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .overlay h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

/* line 393, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .overlay p {
  margin: 0;
}

/* line 397, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .overlay .learn-more {
  background: #006fa2;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: .25em 1.5em;
}

/* line 411, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .overlay .learn-more:hover {
  opacity: .6;
}

/* line 415, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .information {
  margin-top: 1.5em;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
}

/* line 421, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .information h4 {
  display: block;
  color: #000;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}

/* line 430, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .information p {
  float: left;
  font-size: 1em;
  color: #999;
}

/* line 436, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .information .icons {
  float: right;
  color: #999;
}

/* line 441, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .information .icons span {
  margin-left: 1em;
}

/* line 445, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .information .icons span i {
  margin-left: .4em;
}

/* line 449, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .login {
  color: #999;
  padding-top: .75em;
}

/* line 454, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .featured .login i {
  float: right;
  margin-top: .2em;
  font-size: 1.25em;
}

/* line 461, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer {
  width: 100%;
  background: #e1dfe8;
  padding-bottom: 2em;
  position: relative;
  z-index: 25;
}

/* line 469, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
html body footer h1 {
  font-size: 1.25em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

/* line 475, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 482, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer ul li a {
  color: #000;
}

/* line 486, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .mythbusters {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 492, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .ignite {
  position: relative;
  background: #000;
  height: 72px;
}

/* line 498, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .ignite .ignite-logo {
  padding-top: 15px;
}

/* line 502, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .social i {
  display: block;
  font-size: 2em;
  padding: .3em .3em .3em 0;
}

/* line 508, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .subscribe .email-input {
  position: relative;
}

/* line 512, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .subscribe .email-input .add {
  padding: 0em 1em;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
}

/* line 522, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .subscribe .email-input .add span {
  font-size: 1.3em;
  line-height: 2em;
  color: #fff;
  text-transform: uppercase;
}

/* line 529, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .subscribe .email-input input {
  width: 100%;
  border: 1px solid #000;
  padding: .5em;
}

/* line 535, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .about p {
  padding-right: 3em;
}

/* line 539, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .credits {
  margin-top: 4em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}
