/* line 5, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
h1, h2, h3, h4, h5, p, span {
  font-family: 'Lato', sans-serif !important;
}

/* line 9, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index {
  width: 100%;
  /* MOCKUP IMAGE CSS */
}
/* line 12, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
}
/* line 20, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index img {
  width: 100%;
}

/* line 25, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header #logo {
  width: 190px;
  display: inline;
}

/* line 30, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .vertical-center {
  line-height: 8em;
  position: relative;
}

/* line 35, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .vertical-center .form-horizontal {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

/* line 41, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .vertical-center .form-horizontal .form-group {
  margin: 0;
}

/* line 45, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn-group {
  line-height: 8em;
  height: 8em;
}

/* line 50, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn-group .fb-icon {
  width: 50px;
  margin-right: 10px;
}

/* line 55, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn-group .dropdown-menu {
  top: 80%;
}

/* line 59, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn {
  color: #666;
  background: transparent;
  box-shadow: none;
  line-height: 8em;
  padding: 0 15px;
}

/* line 67, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .btn:hover {
  color: #aaa;
}

/* line 71, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .form-horizontal .col-sm-12 {
  position: relative;
}

/* line 75, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .form-horizontal .go-btn {
  position: absolute;
  right: 16px;
  top: 2%;
  background: #A2D85E;
  color: #fff;
  height: 96%;
  padding: 10px 10px;
  line-height: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* line 88, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .form-horizontal input {
  border-radius: 0;
}

/* line 92, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .contact-info {
  white-space: nowrap;
  text-align: right;
}

/* line 97, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .contact-info i {
  padding: 0 5px;
}

/* line 101, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #header .contact-info p {
  color: #aaa;
  line-height: 8em;
  margin: 0;
}

/* line 107, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #left-nav {
  width: 12em;
  border-right: 1px solid #cacaca;
  position: fixed;
  z-index: 9;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  height: 100%;
}

/* line 118, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #left-nav ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 123, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #left-nav ul li a {
  text-decoration: none;
  color: #aaa;
  font-family: 'Lato', sans-serif;
  display: block;
  width: 100%;
  padding: 15px 15px 15px 30px;
  line-height: 18px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 137, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #left-nav ul li {
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 144, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .main-contain {
  padding-left: 15em;
  padding-top: 8em;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 156, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.products-hover #left-nav .nav-products, #index.solutions-hover #left-nav .nav-solutions, #index.services-hover #left-nav .nav-services,
#index.partners-hover #left-nav .nav-partners, #index.customers-hover #left-nav .nav-customers, #index.company-hover #left-nav .nav-company,
#index.careers-hover #left-nav .nav-careers, #index.resources-hover #left-nav .nav-resources, #index.support-hover #left-nav .nav-support,
#index.contact-hover #left-nav .nav-contact {
  background: #eee;
}

/* line 163, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.products-hover #left-nav .nav-products a, #index.solutions-hover #left-nav .nav-solutions a, #index.services-hover #left-nav .nav-services a,
#index.partners-hover #left-nav .nav-partners a, #index.customers-hover #left-nav .nav-customers a, #index.company-hover #left-nav .nav-company a,
#index.careers-hover #left-nav .nav-careers a, #index.resources-hover #left-nav .nav-resources a, #index.support-hover #left-nav .nav-support a,
#index.contact-hover #left-nav .nav-contact a {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
}

/* line 169, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #left-nav .nav-list {
  margin-top: 10em;
}

/* line 173, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .feature-row {
  position: fixed;
  padding-left: 15em;
  padding-bottom: 2em;
  background: #fff;
  width: 100%;
  z-index: 7;
  left: 0;
}

/* line 183, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #feature-area {
  background: url("/assets/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/* line 196, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.products-hover #feature-area {
  background: url("/assets/feature_products.jpg");
  background-size: cover;
  background-position: center;
}

/* line 201, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.solutions-hover #feature-area {
  background: url("/assets/feature_solutions.jpg");
  background-size: cover;
  background-position: center;
}

/* line 206, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.services-hover #feature-area {
  background: url("/assets/feature_services.jpg");
  background-size: cover;
  background-position: center;
}

/* line 211, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.partners-hover #feature-area {
  background: url("/assets/feature_partners.jpg");
  background-size: cover;
  background-position: center;
}

/* line 216, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.customers-hover #feature-area {
  background: url("/assets/feature_customers.jpg");
  background-size: cover;
  background-position: center;
}

/* line 221, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.company-hover #feature-area {
  background: url("/assets/feature_company.jpg");
  background-size: cover;
  background-position: center;
}

/* line 226, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.careers-hover #feature-area {
  background: url("/assets/feature_careers.jpg");
  background-size: cover;
  background-position: center;
}

/* line 231, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.resources-hover #feature-area {
  background: url("/assets/feature_resources.jpg");
  background-size: cover;
  background-position: center;
}

/* line 236, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.support-hover #feature-area {
  background: url("/assets/feature_support.jpg");
  background-size: cover;
  background-position: center;
}

/* line 241, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.contact-hover #feature-area {
  background: url("/assets/feature_contact.jpg");
  background-size: cover;
  background-position: center;
}

/* line 247, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #feature-area .info-section {
  width: 400px;
  height: 200px;
  float: right;
  padding: 20px 25px;
  position: relative;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.75);
}

/* line 257, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #feature-area .info-section h2 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.7em;
  line-height: 1.5em;
}

/* line 266, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #feature-area .info-section p {
  color: #fff;
  padding-top: 15px;
}

/* line 271, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #feature-area .info-section .call {
  width: 70%;
  font-size: 1.2em;
  line-height: 1.75em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #92B653;
  text-align: center;
  cursor: pointer;
}

/* line 286, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #feature-area img {
  width: 100%;
}

/* line 290, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section {
  padding: 0 15px 0 15em;
  margin: 15px 0 15px -15em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  opacity: 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* line 305, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .scrollfix {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: -15px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 317, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-left {
  background: rgba(167, 192, 144, 0.35);
  width: 15%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 15em;
  z-index: 5;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 332, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-left h1 {
  color: #a7c090;
  margin-top: 3em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: 700;
}

/* line 341, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-right h1 {
  margin: 0;
  font-size: 1.75em;
  color: #fff;
}

/* line 347, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-left i, #index .section .hover-right i {
  font-size: 1.25em;
  padding-top: .5em;
  color: #fff;
  text-align: center;
}

/* line 354, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-right i {
  line-height: 250px;
  padding-top: 0;
}

/* line 360, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-right {
  width: 15%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 5;
  background: rgba(167, 192, 144, 0.35);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 375, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .element {
  width: 250px;
  height: 250px;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 30px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 388, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .box {
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background: #cacaca;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 401, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .box h1 {
  margin-top: 0;
  float: left;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 409, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .info-section {
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  white-space: normal;
  background: rgba(0, 0, 0, 0.75);
}

/* line 420, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .info-section h2 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-size: 1.1em;
  line-height: 1.3em;
}

/* line 429, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .info-section p {
  color: #cacaca;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding-top: 5px;
  font-size: .8em;
}

/* line 437, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .info-section .call {
  width: 70%;
  font-size: 1.2em;
  line-height: 1.75em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #92B653;
  text-align: center;
  cursor: pointer;
}

/* line 452, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .info-section .call:hover {
  opacity: .75;
}

/* line 456, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .info-section .call i {
  font-size: .8em;
  padding-left: 10px;
}

/* line 461, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .box img {
  height: 100%;
  width: auto;
}

/* line 465, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .lead-box {
  background: #fff;
  padding: 15px;
}

/* line 470, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-left:hover {
  background: -moz-linear-gradient(right, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, right top, right top, color-stop(0%, rgba(146, 170, 93, 0)), color-stop(99%, #92aa5d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(right, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* IE10+ */
  background: linear-gradient(to left, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* W3C */
}

/* line 479, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-right:hover {
  background: -moz-linear-gradient(left, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(146, 170, 93, 0)), color-stop(99%, #92aa5d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(146, 170, 93, 0) 0%, #92aa5d 99%);
  /* W3C */
}

/* line 488, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index .section .hover-left:hover i, #index .section .hover-right:hover i, #index .section .hover-left:hover h1 {
  color: #fff;
}

/* line 492, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.hover .section .scrollfix {
  opacity: .2;
}

/* line 496, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index #row-recommended {
  margin-top: 325px;
}

/* line 503, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.products-hover .section.products .hover-left, #index.solutions-hover .section.solutions .hover-left, #index.services-hover .section.services .hover-left,
#index.partners-hover .section.partners .hover-left, #index.customers-hover .section.customers .hover-left, #index.company-hover .section.company .hover-left,
#index.careers-hover .section.careers .hover-left, #index.resources-hover .section.resources .hover-left, #index.support-hover .section.support .hover-left,
#index.contact-hover .section.contact .hover-left {
  background: #99CC4C;
}

/* line 510, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.products-hover .section.products, #index.solutions-hover .section.solutions, #index.services-hover .section.services,
#index.partners-hover .section.partners, #index.customers-hover .section.customers, #index.company-hover .section.company,
#index.careers-hover .section.careers, #index.resources-hover .section.resources, #index.support-hover .section.support,
#index.contact-hover .section.contact {
  opacity: 1;
}

/* line 517, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
#index.products-hover .section.products .scrollfix, #index.solutions-hover .section.solutions .scrollfix, #index.services-hover .section.services .scrollfix,
#index.partners-hover .section.partners .scrollfix, #index.customers-hover .section.customers .scrollfix, #index.company-hover .section.company .scrollfix,
#index.careers-hover .section.careers .scrollfix, #index.resources-hover .section.resources .scrollfix, #index.support-hover .section.support .scrollfix,
#index.contact-hover .section.contact .scrollfix {
  opacity: 1;
}

/* line 528, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer {
  width: 100%;
  background: #eee;
  line-height: 4em;
  position: relative;
  z-index: 25;
}

/* line 536, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer p, footer span {
  color: #aaa;
  margin: 0;
}

/* line 541, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .footer-links {
  list-style-type: none;
  margin: 0;
}

/* line 546, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .footer-links li {
  padding: 0 10px;
  display: inline-block;
}

/* line 551, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .footer-links li a {
  color: #aaa;
  text-decoration: none;
}

/* line 557, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer .footer-links li a:hover {
  opacity: .5;
}

/* line 561, /Users/Bryan/Desktop/projects/palo/app/assets/stylesheets/main.css.scss */
footer i {
  padding-right: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

