/* line 6, /home/bryan/Documents/paloalto/app/assets/stylesheets/main.css.scss */
#index {
  width: 100%;
  margin: auto;
  text-align: center;
}
/* line 11, /home/bryan/Documents/paloalto/app/assets/stylesheets/main.css.scss */
#index img {
  width: 100%;
  margin: 0 auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

