// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, p, span {
	font-family: 'Lato', sans-serif !important;
}

body {
	width: 100%;

	#header {
		background: #fff;
		position: fixed;
		width: 100%;
		z-index: 10;
		border-bottom: 1px solid #ddd;
	}

	/* MOCKUP IMAGE CSS */
	img {
		width: 100%;
	}
}


#index #header #logo {
	width: 150px;
	display: inline;
}

#index #header .vertical-center {
	line-height: 5em;
	position: relative;
}

#index #header .vertical-center .form-horizontal {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

#index #header .vertical-center .form-horizontal .form-group {
	margin: 0;
}

#index #header .btn-group {
	line-height: 5em;
	height: 5em;
}

#index #header .btn-group .fb-icon {
	width: 50px;
	margin-right: 10px;
}

#index #header .btn-group .dropdown-menu {
	top: 80%;
}

#index #header .btn {
	color: #666;
	background: transparent;
	box-shadow: none;
	line-height: 5em;
	padding: 0 15px;
}

#index #header .btn:hover {
	color: #aaa;
}

#index #header .form-horizontal .col-sm-12 {
	position: relative;
}

#index #header .form-horizontal .go-btn {
	position: absolute;
	right: 16px;
	top: 2%;
	background: #A2D85E;
	color: #fff;
	height: 96%;
	padding: 10px 10px;	
	line-height: 100%;
	font-weight: bold;
	cursor: pointer;
}

#index #header .form-horizontal input {
	border-radius:0;
}

#index #header .contact-info {
	white-space: nowrap;
	text-align: right;
	line-height: 5em;
}

#index #header .contact-info i {
	padding: 0 5px;
	position: relative;
	top: 2px;
	font-size: 1.5em;
}

#index #header .contact-info p {
	color: #aaa;
	margin: 0;
	font-weight: 300;
	font-size: .85em;
}


#index .feature {
	background: url('/assets/header_feature.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 25em;
	margin-top: 6em;
}

footer {
	width: 100%;
	background: #eee;
	line-height: 4em;
	position: relative;
	z-index: 25;
}

footer p, footer span {
	color: #aaa;
	margin: 0;
}

footer .footer-links {
	list-style-type: none;
	margin: 0;
}

footer .footer-links li {
	padding: 0 10px;
	display: inline-block;
}

footer .footer-links li a {
	color: #aaa;
	text-decoration: none;
}


footer .footer-links li a:hover {
	opacity: .5;
}

footer i {
	padding-right: 10px;
}