// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body h1, html body h2, html body h3, html body h4, html body h5, html body p, html body span {
	font-family: 'Lato', sans-serif;
}

body {
	width: 100%;

	#header {
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		border-bottom: 1px solid #ddd;
	}
}

.clear {
	clear: both;
}

#index #header #logo {
	width: 150px;
	display: inline;
}

#index #header .vertical-center {
	line-height: 5em;
	position: relative;
}

#index #header .vertical-center .form-horizontal {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

#index #header .vertical-center .form-horizontal .form-group {
	margin: 0;
}

#index #header .btn-group {
	line-height: 5em;
	height: 5em;
}

#index #header .btn-group .fb-icon {
	width: 50px;
	margin-right: 10px;
}

#index #header .btn-group .dropdown-menu {
	top: 80%;
}

#index #header .btn {
	color: #666;
	background: transparent;
	box-shadow: none;
	line-height: 5em;
	padding: 0 15px;
}

#index #header .btn:hover {
	color: #aaa;
}

#index #header .form-horizontal .col-sm-12 {
	position: relative;
}

#index #header .form-horizontal .go-btn {
	position: absolute;
	right: 16px;
	top: 2%;
	background: #A2D85E;
	color: #fff;
	height: 96%;
	padding: 10px 10px;	
	line-height: 100%;
	font-weight: bold;
	cursor: pointer;
}

#index #header .form-horizontal input {
	border-radius:0;
}

#index #header .contact-info {
	white-space: nowrap;
	text-align: right;
	line-height: 5em;
}

#index #header .contact-info i {
	padding: 0 5px;
	position: relative;
	top: 2px;
	font-size: 1.5em;
}

#index #header .contact-info p {
	color: #aaa;
	margin: 0;
	font-weight: 300;
	font-size: .85em;
}

#index .feature-viewport {
	width: 100%;
	height: 35em;
	margin-top: 5em;
	position: relative;
	overflow: hidden;
}

#index .feature-viewport .feature {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 35em;
	opacity: 1;
	overflow: hidden;
	-webkit-transition: all .75s ease-in-out; /* For Safari 3.1 to 6.0 */
	-moz-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}

#index .feature-viewport .feature .background-img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all .75s ease-in-out; /* For Safari 3.1 to 6.0 */
	-moz-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
}

#index .feature-viewport .feature .description {
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 2em;
	color: #fff;
	position: absolute;
	left: 40%;
	margin-left: -25%;
	top: 6em;
}

#index .feature-viewport .active {
	top:0;
	opacity: 1;
}

#index .feature-viewport .active-down {
	top:0;
	opacity: 1;
}

#index .feature-viewport .home-1 .background-img {
	background: url('/assets/header_feature.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .home-2 .background-img {
	background: url('/assets/feature_services.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .home-3 .background-img {
	background: url('/assets/feature_recommended.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .home-4 .background-img {
	background: url('/assets/feature_products.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .home-5 .background-img {
	background: url('/assets/feature_popular.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .home-6 .background-img {
	background: url('/assets/feature_careers.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .home-7 .background-img {
	background: url('/assets/feature_partners.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#index .feature-viewport .box {
	padding: 1em 1em 3em 1em;
	background: rgba(0,0,0,.5);
	width: 25em;
	margin-top: 5em;
	margin-right: 2em;
	position: relative;
	float: right;
	z-index: 5;
}

#index .feature-viewport .box h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 3.5em;
	margin-top: 0;
	font-weight: 700;
}

#index .feature-viewport .box p {
	color: #fff;
}

#index .feature-viewport .box .next {
	background: #006fa2;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: .25em 1.5em;	
}

#index .feature-viewport .box .previous {
	background: #006fa2;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: .25em 1.5em;

}

#index .feature-viewport .box .learn-more {
	background: #006fa2;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: .25em 1.5em;
}

#index .feature-viewport .feature.transition {
	top: -100%;
}

#index .feature-viewport .feature.transition-down {
	top: 100%;
}


#index .featured {
	padding-top: 3em;
}

#index .featured-row {
	padding-bottom: 5em;
}

#index .featured .row-title {
	font-size: 1.5em;
	text-transform: uppercase;
	padding-bottom: 1em;
}

#index .featured .box {
	padding: 1em;
	min-height: 30em;
	position: relative;
}

#index .featured .box i {
	position: absolute;
	top: .75em;
	right: .75em;
	color: #fff;
	font-size: 1.35em;
	cursor: pointer;
}

#index .featured .box .fa-star {
	opacity: 0;
}

#index .featured .box i:hover {
	opacity: 1;
}

#index .featured .box h1 {
	font-weight: 400;
	width: 70%;
	margin-top: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
	padding-bottom: 3em;
}

#index .featured .box h1 .white {
	color: #fff;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
}

#index .featured .box h1 .text-blue {
	color: #006fa2;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
}

#index .featured .orange {
	background: #f7933e;
}

#index .featured .blue {
	background: #67d0ee;
}

#index .featured .gray {
	background: #e6e2e1;
}

#index .featured .green {
	background: #99a700;
}

#index .featured .gold {
	background: #f3b927;
}

#index .featured .overlay {
	background: rgba(255,255,255,.5);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8em;
	padding: 1em 1em;
}

#index .featured .overlay h2 {
	font-size: 1.25em;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}

#index .featured .overlay p {
	margin: 0;
}

#index .featured .overlay .learn-more {
	background: #006fa2;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: .25em 1.5em;
}

#index .featured .overlay .learn-more:hover {
	opacity: .6;
}

#index .featured .information {
	margin-top: 1.5em;
	border-bottom: 1px solid #ccc;
	font-size: 1em;
}

#index .featured .information h4 {
	display: block;
	color: #000;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	margin-bottom: 0;
}

#index .featured .information p {
	float: left;
	font-size: 1em;
	color: #999;
}

#index .featured .information .icons {
	float: right;
	color: #999;
}

#index .featured .information .icons span {
	margin-left: 1em;
}

#index .featured .information .icons span i {
	margin-left: .4em;
}

#index .featured .login {
	color: #999;
	padding-top: .75em;
}

#index .featured .login i {
	float: right;
	margin-top: .2em;
	font-size: 1.25em;
}


footer {
	width: 100%;
	background: #e1dfe8;
	padding-bottom: 2em;
	position: relative;
	z-index: 25;
}

html body footer h1 {
	font-size: 1.25em;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

footer ul li a {
	color: #000;
}

footer .mythbusters {
	position: absolute;
	right: 0;
	top:0;
}

footer .ignite {
	position: relative;
	background: #000;
	height: 72px;
}

footer .ignite .ignite-logo {
	padding-top: 15px;
}

footer .social i {
	display: block;
	font-size: 2em;
	padding: .3em .3em .3em 0;
}

footer .subscribe .email-input {
	position: relative;
}

footer .subscribe .email-input .add {
	padding: 0em 1em;
	background: #000;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	height: 100%;
}

footer .subscribe .email-input .add span {
	font-size: 1.3em;
	line-height: 2em;
	color: #fff;
	text-transform: uppercase;
}

footer .subscribe .email-input input {
	width: 100%;
	border: 1px solid #000;
	padding: .5em;
}

footer .about p {
	padding-right: 3em;
}

footer .credits {
	margin-top: 4em;
}



