// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#index {
	width: 100%;

	#header {
		height: 8em;
		padding-top: 2em;
		background: #fff;
		position: relative;
		z-index: 10;
	}

	img {
		width: 100%;
		margin: 0 auto;
	}
}

#index #header #logo {
	width: 100%;
	max-width: 250px;
}

#index #header .form-horizontal {
	border-radius:0;
}

#index #left-nav {
	width: 12em;
	border-right: 1px solid #cacaca;
	position: fixed;
	z-index: 5;
	background: rgba(255,255,255,.8);
	left: 0;
	top:0;
	height: 100%;
}

#index #left-nav ul {
	list-style-type: none;
	padding-left: 0;
}

#index #left-nav ul li a {
	text-decoration: none;
	color: #aaa;
	display: block;
	width: 100%;
	padding: 15px 15px 15px 30px;
	line-height: 18px;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;	
}

#index #left-nav ul li {
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#index.products-hover #left-nav .nav-products {
	background: #eee;
}

#index.products-hover #left-nav .nav-products a {
	font-weight: bold;
	color: #333;
	font-size: 1.1em;
}

#index.solutions-hover #left-nav .nav-solutions {
	background: #eee;
}

#index.solutions-hover #left-nav .nav-solutions a {
	font-weight: bold;
	color: #333;
	font-size: 1.1em;
}

#index.services-hover #left-nav .nav-services {
	background: #eee;
}

#index.services-hover #left-nav .nav-services a {
	font-weight: bold;
	color: #333;
	font-size: 1.1em;
}

#index.partners-hover #left-nav .nav-partners {
	background: #eee;
}

#index.partners-hover #left-nav .nav-partners a {
	font-weight: bold;
	color: #333;
	font-size: 1.1em;
}

#index #left-nav .nav-list {
	margin-top: 10em;
}

#index #feature-area {
	background: #cacaca;
	height: 500px;
}

#index .section {
	margin-top: 15px;
	margin-bottom: 15px;
}

#index .section .box {
	height: 200px;
	width: 85%;
	margin: auto;
	background:#cacaca;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#index .section .box h1 {
	margin-top: 0;
}

#index.products-hover .section.products .box {
	height: 250px;
	width: 90%;
}

#index.solutions-hover .section.solutions .box {
	height: 250px;
	width: 90%;
}

#index.services-hover .section.services .box {
	height: 250px;
	width: 90%;
}

#index.partners-hover .section.partners .box {
	height: 250px;
	width: 90%;
}