<footer>
	<div class="container-fluid">
		<div class="ignite row">
			<div class="col-md-12">
				<h1>Ignite 2015</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h1>Subscribe</h1>

			</div>
			<div class="col-md-2">
				<h1>Follow Us:</h1>
				<i class="fa fa-linkedin"></i>
				<i class="fa fa-facebook"></i>
				<i class="fa fa-twitter"></i>
			</div>
			<div class="col-md-3">
				<h1>About Us:</h1>
				<p>
					Palo Alto Networks is the network security company. Our innovative platform allows enterprises, service providers, and government entities to secure their networks and safely enable the increasingly complex and rapidly growing number of applications running on their networks.
				</p>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-6">
						<h1>Explore:</h1>
						<ul>
							<li>Products</li>
							<li>Solutions</li>
							<li>Services</li>
							<li>Partners</li>
							<li>Customers</li>
							<li>Resources</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h1>Company:</h1>
						<ul>
							<li>Customer Support</li>
							<li>Contact Sales</li>
							<li>Research</li>
							<li>Careers</li>
							<li>Leadership</li>
							<li>News</li>
							<li>Events</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>