<footer>
	<div class="container-fluid">
		<div class="ignite row">
			<img class="mythbusters" src="/assets/mythbusters.png" />
			<div class="container">
				<img class="ignite-logo" src="/assets/ignite_logo.png" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="subscribe col-md-3">
				<h1>Subscribe</h1>
				<div class="email-input"><div class="add"><span>Add</span></div><input type="text" placeholder="Email" /></div>
				<p>Manage subscriptions</p>
			</div>
			<div class="social col-md-2">
				<h1>Follow Us:</h1>
				<i class="fa fa-linkedin"></i>
				<i class="fa fa-facebook"></i>
				<i class="fa fa-twitter"></i>
			</div>
			<div class="about col-md-4">
				<h1>About Us:</h1>
				<p>
					Palo Alto Networks is the network security company. Our innovative platform allows enterprises, service providers, and government entities to secure their networks and safely enable the increasingly complex and rapidly growing number of applications running on their networks.
				</p>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<h1>Explore:</h1>
						<ul>
							<li>Products</li>
							<li>Solutions</li>
							<li>Services</li>
							<li>Partners</li>
							<li>Customers</li>
							<li>Resources</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h1>Company:</h1>
						<ul>
							<li>Customer Support</li>
							<li>Contact Sales</li>
							<li>Research</li>
							<li>Careers</li>
							<li>Leadership</li>
							<li>News</li>
							<li>Events</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="credits row">
			<div class="col-md-4">
				<p>&copy; Palo Alto Networks, Inc.  All Rights Reserved.</p>
			</div>
			<div class="col-md-4">
				<p style="text-align: center;">Privacy Policy | Legal Notices</p>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</footer>